<fieldset class="new_style">
	<legend>Question Details</legend>
	<label for="question_question">Question</label>
	<%= f.text_field :question %><br/>
	
	<label for="question_answer">Answer</label>
	<%= f.text_area :answer %><br/>
</fieldset>