<%= link_to display_profile_picture(@profile, @user), projects_root_path if @user %>

<ul class="email_links">
	<li><%= link_to "Contact Me", new_contact_path %></li>
	<li><%= addthis_share_button{ "Share this Portfolio" } %></li>
</ul>

<ul id="profile_attributes"><%= display_populated_attributes(@profile) %></ul>