<%= link_to display_profile_picture(@profile, @user), projects_root_path if @user %>
<p><%= link_to "Contact Me", new_contact_path %></p>
<ul id="profile_attributes"><%= display_populated_attributes(@profile) %></ul>