<fieldset class="new_style">
	<legend>Article Details</legend>
	<label for="article_title">Title</label>
	<%= f.text_field :title %><br/>
	
	<label for="article_content">Content</label>
	<%= f.text_area :content, :class => 'rich_text' %><br/>
</fieldset>