/* === FLASH MESSAGES === */
div#flash-notice {
	border-top:2px solid #14401A;
	border-bottom:2px solid #14401A;
	color:#14401A;
	background-color:#85FF97;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

div#flash-warning {
	border-top:2px solid #7E8700;
	border-bottom:2px solid #7E8700;
	background-color:#FFFC57;
	color:#7E8700;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

div#flash-error {
	border-top:2px solid #B20C00;
	border-bottom:2px solid #B20C00;
	background-color:#FF7A70;
	color:#B20C00;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

span.errorMessage{
	font-size:0.8em;
	color:red;
	font-style:italic;
}

/* === MENU ==== */
#main_menu{
	padding:0px;
	margin-top:20px;
	list-style:none;
}

#main_menu li{
	padding-bottom:5px;
}

#main_menu ul li{
	padding-bottom:2px;
}

#main_menu ul{
	list-style:none;
}

/* === STYLE FORM === */
a.accordion_header{
	font-size:1.4em;
	background-color:black;
	width:400px;
}

#accordion div{
	border: 1px solid #aaaaaa;
	border-top:0px;
}

#accordion h3{
	border: 1px solid #aaaaaa;
	border-bottom:0px;
}

#style_font_id{
	margin-top:10px;
	width:200px;
}

ul.style_form{
	list-style:none;
	margin:0px;
	padding:0px;
	padding-top:10px;
}

ul.style_form li{
	display:inline;
}

.style_desc{
	padding:5px;
	margin:0px;
	font-size:0.8em;
}

/* === PROFILE === */
#profile{
	margin-top:15px;
}

#profile_attributes{
	padding:0;
	margin:0;
	list-style:none;
	font-size:0.7em;
}

#sub_section #pages ul{
	padding:0;
	margin:0;
	margin-top:10px;
	list-style:none;
	font-size:0.7em;
}

/* === PROJECTS === */
.project_title{
	margin-left:10px;
	margin-right:10px;
}

#gallery{
	list-style:none;
	padding:0;
	margin:0;
	float:left;
}

.project_status{
	font-size:0.6em;
	margin-bottom:10px;
}

#item_index{
	float:left;
	width:180px;
	height:600px;
	padding:0px;
}

#item_view{
	margin:10px;
	width:500px;
	float:right;
}

ul.items{
	list-style:none;
	padding:0px;
	margin:0px;
	width:140px;
}

ul.items li{
	display:inline;
}
/*.get_started{
	border:1px solid;
	margin-top:50px;
	padding:10px;
	width:40%;
	margin-left:200px;
}

.get_started p{
	text-align:center;
}*/

/* === TABLES === */
table{
	padding:5px;
	font-size:0.9em;
	line-height:1.4em;
}

th{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	font-size:1.1em;
	font-weight:normal;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}

td{
	padding-left:5px;
	padding-right:5px;
}

caption{
	font-style:italic;
	font-size:0.85em;
	text-align:left;
}

/* === FORMS === */
legend{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	font-size:1.4em;
	font-weight:normal;
}

fieldset label{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	text-align:right;
	width:75px;
	padding-right:20px;
}

fieldset label, fieldset input, fieldset textarea, fieldset select{
	display:block;
	width:250px;
	float:left;
	margin-bottom:10px;
}

#font_fieldset input[type=radio]{
	margin-left:275px;
	width:15px;
}

fieldset select{
	width:81px;
	margin-right:5px;
}

form input, form textarea, form select{
	font-size:1.2em;
}

textarea{
	height:150px;
}

form br{
	clear:left;
}

div.fieldWithErrors {
	margin:0px;
}

div.fieldWithErrors label {
	color:#ee1d24;
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	border:5px solid #ee1d24;
	background-color:#FF8282;
}

/* === NEW STYLE FORMS === */
fieldset.new_style label, fieldset.new_style input, fieldset.new_style textarea, fieldset.new_style select{
	display:inline;
	float:none;
	width:640px;
	margin-left:20px;
}

fieldset.new_style input{
	margin-bottom:20px;
}

fieldset.new_style img{
	margin-left:20px;
	margin-bottom:10px;
}

fieldset.new_style input[type=radio]{
	margin-top:10px;
	width:15px;
}

/* === ITEMS CAROUSEL === */

#items_carosel{
	margin-top:10px;
}

#carousel{
	border:1px solid;
	padding-left:15px;
	width:125px;
}

#carousel_list{
	list-style:none;
	padding:0px;
	margin-right:auto;
	margin-left:auto;
}

#carousel_list li{
	padding-top:10px;
	padding-bottom:10px;
}

#carousel_controls{
	margin-right:auto;
	margin-left:auto;
}

#carousel_holder{
	float:left;
	margin:25px;
	margin-right:50px;
	margin-left:0px;
	height:650px;
}

a.carousel{
	color:#646464;
}

a.carousel img{
	border:5px solid #f0f0f0;
	border-bottom:15px solid #f0f0f0;
}

/* === PLANS === */
ul.plans_display{
	padding:0;
	margin-top:0;
	list-style:none;
}

li.plan{
	float:left;
	display:block;
	padding:10px;
	margin:10px;
	width:300px;
}

li.plan div.details{
	border:1px solid #f0f0f0;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

li.plan div.action{
	margin-top:10px;
	margin-left:100px;
}

ul.plans_display ul{
	list-style:none;
}

ul.plans_display h3{
	font-size:1.1em;
}
