/* === PROJECT INDEX === */
.project_image{
	margin-top:10px;
	padding-top:100px;
}

h2.project{
	margin:5px;
	margin-left:10px;
	margin-right:10px;
	padding:2px;
}

h2.project a{
	text-decoration:none;
}