body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	width:1050px;
	margin-right:auto;
	margin-left:auto;
}

#container{
	margin-right:22px;
	margin-left:22px;
}

#header h1{
	font-size:3em;
}

#header, #menu, #content, #sub_section, #footer{
	overflow:hidden;
	display:inline-block;
	margin:5px;
}

/* safari and opera need this */
#header, #menu, #footer{
	width:958px;
}

#menu{
	margin-top:-3px;
	border:1px solid #f0f0f0;
}

#content{
	float:left;
	width:700px;
	padding:10px 10px 10px 10px;
}

#sub_section{
	padding-left:25px;
	width:200px;
}

#footer{
	clear:left;
	font-size:0.7em;
	text-indent:10px;
}