body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	width:1050px;
	margin-right:auto;
	margin-left:auto;
}

#container{
	margin-right:22px;
	margin-left:22px;
}

#header h1{
	font-size:3em;
}

a.tag{
/*	float:right;
	margin-top:80px;
	margin-right:105px;*/
	
	position:relative;
	top:100px;
	left:780px;
}

a.tag img{
	padding:10px;
	color:white;
}

#header, #menu, #content, #sub_section, #footer{
	overflow:hidden;
	display:inline-block;
	margin:5px;
}

/* safari and opera need this */
#header, #menu, #footer{
	width:958px;
}

#menu{
	float:left;
/*	width:726px;*/
	width:720px;
	margin-top:-21px;
}

#content{
	float:left;
	width:720px;
	padding:10px 10px 10px 10px;
}

#sub_section{
	padding-left:25px;
	width:180px;
	height:600px;
}

#footer{
	clear:left;
	font-size:0.7em;
	text-indent:10px;
}