#header h1{
	font-size:5em;
	font-family:Arial;
	text-transform:uppercase;
	text-align:left;
	font-weight:bolder;
	color:#303030;
	margin-top:10px;
	margin-bottom:0px;
}

#header p{
	margin-top:0px;
	color:#AAAAAA;
}

#header{
	border-bottom:1px solid #AAAAAA;
	float:left;
	width:720px;
}

#container{
	color:#303030;
}

#signup{
	margin-top:50px;
	margin-left:2px;
	width:144px;
	padding:10px;
	/*border:1px solid #AAAAAA;*/
	text-align:center;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
}



#signup img{
	border-style:outset;
	border-color:#FF2782;
	margin-left:2px;
	width:135px;
}

#content{
	padding-left:5px;
	margin-left:0px;
}

h1 a{
	color:#FF2782;
	text-decoration:none;
}

h1, h3, h5{
	color:#FF2782;
}

h2, h4{
	color:#2093A8;
}

a{
	color:#2093A8;
}

/* === ARTICLE INDEX === */
p.datetime{
	margin:0px;
	padding:0px;
	color:#AAAAAA;
	font-size:0.6em;
}

/* === ARTICLE SHOW === */
ul.comments{
	list-style:none;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #AAAAAA;
}

ul.comments li{
	border-top:1px solid #AAAAAA;
}

/* ===  LOG IN FORM === */
#login fieldset{
	width:140px;
	/*border:1px solid #AAAAAA;*/
	border:0px;
	padding-bottom:20px;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
}

#login a{
	font-size:0.8em;
}

#login legend{
	color:#FF2782;
}

#login label{
	font-size:0.8em;
}

#login input{
	width:130px;
}

/* === PLANS === */
ul.plans_display{
	padding:0;
	margin-top:0;
	list-style:none;
}

li.plan{
	float:left;
	display:block;
	padding:10px;
	margin:10px;
	width:300px;
}

li.plan div.details{
/*	border:1px solid #f0f0f0;*/
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
}

li.plan div.action{
	margin-top:10px;
	margin-left:100px;
}

ul.plans_display ul{
	list-style:none;
}

ul.plans_display h3{
	font-size:1.1em;
}