body{
	font-family:Helvetica;
}

#header h1{
	font-size:5em;
	font-family:Helvetica;
/*	text-transform:uppercase;*/
	text-align:left;
	font-weight:900;
	color:#303030;
	margin-top:10px;
	margin-bottom:0px;
}

#header p{
	margin-top:0px;
	color:#AAAAAA;
}

#header{
	border-bottom:1px solid #AAAAAA;
	float:left;
	width:720px;
}

#header .logo{
	float:right;
	margin-right:10px;
	margin-top:15px;
}

#container{
	color:#303030;
}

#demo{
	margin-top:50px;
	margin-left:2px;
	width:144px;
	padding:10px;
	/*border:1px solid #AAAAAA;*/
	text-align:center;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
}

#signup{
	margin-top:50px;
	margin-left:2px;
	width:144px;
	padding:10px;
	/*border:1px solid #AAAAAA;*/
	text-align:center;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
}

#signup img{
	border-style:outset;
	border-color:#FF2782;
	margin-left:2px;
	width:130px;
}

#signup img:hover{
	border-style:inset;
}

#content{
	padding-left:5px;
	margin-left:0px;
}

h1 a{
	color:#FF2782;
	text-decoration:none;
}

h1, h3, h5{
	color:#FF2782;
	font-family:helvetica;
}

h2, h4{
	font-family:helvetica;
	color:#2093A8;
}

a{
	color:#2093A8;
}

/* === ARTICLE INDEX === */
p.datetime{
	margin:0px;
	padding:0px;
	color:#AAAAAA;
	font-size:0.6em;
}

/* === ARTICLE SHOW === */
ul.comments{
	list-style:none;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #AAAAAA;
}

ul.comments li{
	border-top:1px solid #AAAAAA;
}

/* ===  LOG IN FORM === */
#login fieldset{
	width:140px;
	/*border:1px solid #AAAAAA;*/
	border:0px;
	padding-bottom:20px;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
}

.button{
	border-style:outset;
	border-color:#FF2782;
	width:130px;
}

.button:hover{
	border-style:inset;
}

#login a{
	font-size:0.8em;
}

#login legend{
	color:#FF2782;
}

#login label{
	font-size:0.8em;
}

#login input{
	width:130px;
}

/* === PLANS === */
ul.plans_display{
	padding:0;
	margin-top:0;
	list-style:none;
}

li.plan{
	float:left;
	display:block;
	padding:10px;
	margin:10px;
	width:300px;
}

li.plan div.details{
/*	border:1px solid #f0f0f0;*/
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
}

li.plan div.action{
	margin-top:10px;
	margin-left:70px;
}

ul.plans_display ul{
	list-style:none;
}

ul.plans_display h3{
	font-size:1.1em;
}

img.button{
	border-style:outset;
	border-color:#FF2782;
	width:130px;
}

#plan_questions{
	font-size:0.8em;
}

/* === SIGN UP FORM === */
#new_user input{
	width:250px;
}

#new_user h5{
	color:#2093A8;
}

#user_subdomain{
	width:150px;
}

span.subdomain{
	margin-left:20px;
}

span.subdomain input{
	margin:0px;
}

#new_user p{
	color:#AAAAAA;
}

#new_user fieldset fieldset{
	margin-top:10px;
	border:none;
	background:url(/images/shadowAlpha.png) no-repeat bottom right;
	
}

#new_user legend{
	color:#2093A8;
	font-size:1.2em;
}

#new_user fieldset fieldset legend{
	font-size:1em;
	color:#FF2782;
}

#new_user input.button{
	width:130px;
	margin-top:20px;
	margin-left:547px;
	margin-bottom:10px;
}

/* === FORMS === */

fieldset{
	border:1px #AAAAAA solid;
}

legend{
	color:#FF2782;
}

div.fieldWithErrors {
	margin:0px;
}

div.fieldWithErrors label {
	color:#ee1d24;
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	border:5px solid #ee1d24;
	background-color:#FF8282;
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

span.errorMessage{
	padding-left:2px;
	font-size:0.8em;
	color:red;
	font-style:italic;
}

/* === QUESTIONS === */
ul.questions{
	list-style:none;
	padding:0px;
	margin:0px;
}
h3.question a{
	color:#FF2782;
	text-decoration:none;
}

div.answer a{
	font-size:0.8em;
}

/* === TAB NAVIGATION === */
#tabs{
	list-style:none;
	padding:8px;
	padding-bottom:10px;
	background:url(/images/tab_background.png);
}

#tabs li{
	display:inline;
	margin-right:20px;
	padding:8px;
}

#tabs li.active{
	border-bottom:1px solid #AAAAAA;
}

#tabs li.active a{
	color:#FF2782;
	font-size:1em;
	font-weight:700;
}

#tabs li a{
	color:#AAAAAA;
	font-size:0.8em;
	text-decoration:none;
	margin-bottom:10px;
	padding-top:20px;
}

#tabs li a:hover{
	color:#2093A8;
}

#menu{
	padding:0px;
}

#content{
	margin-top:-40px;
}

/* === WELCOME PAGE === */
#features{
	list-style:none;
	margin:0px;
	padding:0px;
}

/* === ARTICLE DISPLAY === */
#content img.float_right{
	float:right;
	margin-left:30px;
	margin-bottom:30px;
	margin-top:30px;
}

#content img.float_left{
	float:left;
	margin-right:30px;
	margin-bottom:30px;
	margin-top:30px;
}