<fieldset class='new_style'>
	<legend>Video Details</legend>
	<label for="video_name">Name</label>
	<%= f.text_field :name %><br/>
	
	<% if upload %>
		<label for="video_photo">Video</label>
		<%= f.file_field :source %><br/>
	<% end -%>
	
	<label for="video_description">Description</label>
	<%= f.text_area :description %><br/>
	
	<% if current_subdomain_user.facebook_user? && upload %>
		<label for="image_facebook_upload">Upload to Facebook</label>
		<%= f.check_box :facebook_upload %>
	<% end -%>
</fieldset>