<fieldset class="new_style">
	<legend>Page Details</legend>
	<label for="page_title">Title</label>
	<%= f.text_field :title %><br/>
	
	<label for="page_content">Content</label>
	<%= f.text_area :content %><br/>
</fieldset>