<fieldset>
	<legend>Page Details</legend>
	<label for="pages_title">Title</label>
	<%= f.text_field :title %><br/>
	
	<label for="pages_content">Content</label>
	<%= f.text_area :content %><br/>
</fieldset>