<h1>Terms of Service</h1>
<p>By using the MinimalPixel.net web site (“Service”) and all services of MinimalPixel, LLC (“MinimalPixel”), you are agreeing to be bound by the following terms and conditions (“Terms of Service”).</p>

<p>MinimalPixel reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://MinimalPixel.net/terms</p>

<h2>Account Terms</h2>
<ul>
	<li>You must provide your name, a valid email address, and any other required information to complete the signup process.</li>
	<li>You are responsible for maintaining the security of your account and password. MinimalPixel cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
	<li>You are responsible for all Content posted and activity that occurs under your account.</li>
	<li>One person may not maintain more than one free account.</li>
	<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
	<li>If your bandwidth usage exceeds 100 GB/month, we reserve the right to temporarily disable file downloads on your account until you can reduce your bandwidth consumption.</li>
</ul>

<h2>Payment, Refunds, Upgrading and Downgrading Terms</h2>
<ul>
	<li>A valid PayPal account is required for paying accounts. A credit card is not required to create or use a free account.</li>
	<li>The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</li>
	<li>For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.</li>
	<li>Downgrading your Service may cause the loss of Content, features, or capacity of your Account. MinimalPixel does not accept any liability for such loss.</li>
	<li>If your monthly subscription charge is denied, we will attempt to re-charge your PayPal account two times before suspending or terminating your account.</li>
	<li>All fees are exclusive of all taxes or duties imposed by governing authorities. You alone are responsible for payment of all such taxes or duties.</li>
</ul>

<h2>Cancellation and Termination</h2>
<ul>
	<li>You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account menu tab and following the simple link to cancel your account.</li>
	<li>Your account and all of its Content will be deleted immediately upon your cancellation of the Service. This information can not be recovered once your account is cancelled.</li>
	<li>You can cancel at any time, but you will remain liable for all charges accrued up to that time, including full monthly charges for the month which you discontinued service. You will not be charged again.</li>
	<li>MinimalPixel reserves the right to modify, suspend, or terminate your account at any time for any reason without notice or refund. We also reserve the right to delete all Content associated with your account.</li>
	<li>MinimalPixel may refuse service to anyone for any reason at any time.</li>
</ul>

<h2>Modifications to the Service and Prices</h2>
<ul>
	<li>MinimalPixel reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
	<li>Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the MinimalPixel Site (www.MinimalPixel.net) or the Service itself.</li>
	<li>MinimalPixel shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
</ul>

<h2>Copyright and Content Ownership</h2>
<ul>
	<li>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. You may remove it from the Service at any time.</li>
	<li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, threatening, libelous, defamatory, or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</li>
</ul>

<h2>Prohibited Conduct</h2>
<p>The following non-exhaustive list describes the kinds of illegal or harmful conduct that are prohibited on our Service.</p>
<h3>You agree not to:</h3>
<p>upload, post or otherwise transmit any User Content that:</p>
<ul>
	<li>is unlawful, harmful, threatening, abusive, harassing, defamatory, hateful, or racially, ethnically, or otherwise objectionable;</li>
	<li>you do not have a right to transmit under any law or contractual or fiduciary agreements;</li>
	<li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
	<li>potentially infringes on any patent, trademark, trade secret, copyright, or other proprietary rights of any person or entity;</li>
	<li>defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights of others;</li>
	<li>misrepresent yourself or take on the identity of someone else while using this service;</li>
	<li>modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, MinimalPixel, or any other MinimalPixel service;</li>
	<li>upload, post, host, or transmit unsolicited email, SMSs, or “spam” messages;</li>
	<li>act in any manner that negatively affects other users' ability to use the site</li>
</ul>

<h2>Your Liability</h2>

<p>You are solely responsible for your activities on the Site, and while using the Service, including all User Content that you submit or a third party submits on your behalf or using your account. You agree to indemnify MinimalPixel and it's officers, employees, agents, successors and assigns against any and all third party claims, actions, demands, suits and all related losses, liabilities, damages, penalties, costs and expenses (including by not limits to, reasonable attorneys' fees) included by an indemnified party arising out of or related to: (a) any violation of law or regulation from your use of the Service, (b) any actual or alleged breach by you of any obligations, representations, warranties under these Terms of Service, and (c) any actual or alleged infringement or misappropriation of the intellectual property rights of any third party by all User Content that you submit or a third party submits on your behalf or using your account.
Violation of any of these agreements will result in the termination of your Account. While MinimalPixel prohibits such conduct and Content on the Service, you understand and agree that MinimalPixel cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

<h2>No Warranties</h2>

<p>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis without warranties of any kind, expressed or implied. You expressly agree that use of the site is at your sole risk.
MinimalPixel does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
Limited Liability</p>

<p>In no event shall we be liable for any direct, indirect, incidental, special, consequential, exemplary, or punitive damages (including but not limited to loss of use, loss of profits, or loss of data, or goodwill) whether in an action in contract, tory (including by not limited to negligence), equity or otherwise, arising out of or in any way connected with the use or inability to use the Service or the materials therein or resulting from unauthorized access to or alternation of data.</p>

<h2>Questions about these Terms of Service?</h2>

<p>Please contact us at the following email address: contact at MinimalPixel.net.</p>