<%= title("Welcome To MinimalPixel") %>

<h1>Just look what you could do with a MinimalPixel portfolio:</h1>

<ul id='features'>
	<li><h2>Fully customize the look and design of your portfolio, no HTML knowledge needed!</h2></li>
	<li><h2>Display you images and videos in high definition on a clean backdrop.</h2></li>
	<li><h2>Easily manage your portfolio with intuitive uploading tools.</h2></li>
	<li><h2>Get up and running in less than 60 seconds.</h2></li>
</ul>
