<h1>New Article</h1>

<% form_for(@article, :url => {:controller => 'draft_articles', :action => 'create'}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'articles/form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', draft_articles_path %>
