<h2>Nearly Ready!</h2>

<p>Your upload is currently being optimized for the web, this can take a few minutes so please bear with us.  This page will reload when your upload is ready.</p>

<p>It is safe to navigate away from this page in the meantime, when your upload is ready it will appear in your project.</p>

<script>
		setInterval(function(){
			$.getJSON('<%= escape_javascript(project_item_path(project, item, :format => :json)) %>', null, function(data){
				if (data.image.status == "ready") {
					location.reload(); // processing is finished, reload the page to reveal the image/video
				};
			});
		}, 5000);
</script>