<fieldset class="new_style">
	<legend>Message Details</legend>
	<label for="contact_form_name">Name</label><br/>
	<%= f.text_field :name, :class => 'medium' %><br/>
	
	<label for="contact_form_email">Email</label><br/>
	<%= f.text_field :email, :class => 'medium' %><br/>
	
	<label for="contact_form_message">Message</label><br/>
	<%= f.text_area :message, :class => 'large' %><br/>
</fieldset>