<h1>Choose your plan</h1>

<ul class="plans_display">
	<% for plan in @plans %>
		<%= render :partial => 'display', :locals => {:plan => plan, :f => nil} %>
	<% end %>
</ul>

<br/>

<div id='plan_questions'>
	<p><h3>Which web browsers work with MinimalPixel?</h3>
	 Any of the following web browsers work with Minimal Pixel: IE 7 (PC), Firefox 2 or later (Mac, PC, or Linux), Safari 2 or later (Mac).</p>
	
	<p><h3>Can I upgrade, downgrade, or cancel later?</h3>
		Of course.  MinimalPixel is a month by month service so you can upgrade, downgrade or even cancel at any time, no hassle.</p>
</div>